[submodule "libs/firstparty/vk_canvas"]
	path = libs/firstparty/vk_canvas
	url = https://github.com/minervarr/Vk_Canvas_Lb_LAW.git
[submodule "assets/fonts"]
	path = assets/fonts
	url = https://github.com/minervarr/fonts
[submodule "libs/firstparty/app_shell"]
	path = libs/firstparty/app_shell
	url = https://github.com/minervarr/App_shell
	branch = main
